body {
  background-color: rgba(244, 237, 237, 0.4);
  letter-spacing: 0.2;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-size: 33px;
  color: rgb(38, 38, 38)
}

h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  color: rgb(1, 38, 170);
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  margin: 20;
}
a:hover {
  opacity: 0.6;
}

.btn-black {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin:20px 50px;
  border-radius: 5px;
}

.card-white {
  background: white;
  padding: 20px 60px;
  margin: 20px 150px;
  border-radius: 6px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

.card-white:hover {
  box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
}

#img-main {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

li a i {
  font-size: 40px;
  color: rgb(244, 56, 56);
}

li a i:hover {
  color: rgb(252, 100, 100);
}

}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }

  .card-white{
    margin:20px 0px;
  }
}
@media (max-width: 716px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }

  .card-white{
    margin: 20px 30px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 460px;
    margin: 0 auto;
  }

   .card-white{
    margin: 20px 0px;
  }
}

@media (max-width: 470px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 380px;
    margin: 0 auto;
  }
}
